@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);

  /* dark-colors */
  --body-color: #1a1b1f;
  --text-color-100: #f1f1f1;
  --text-color-50: #9c9c9c;
  --bg: #282f3565;
  --border-lines: #3d485c8f;
  --main-color: #6e6e6e;
}

#root {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.bubble1 {
  min-width: 340px;
  min-height: 400px;
  position: fixed;
  top: -70px;
  border-radius: 50%;
  right: 9%;
  rotate: -40deg;
  background-color: #2d333b67;
  filter: blur(100px);
  z-index: -2;
}

.bubble2 {
  min-width: 140px;
  min-height: 300px;
  position: fixed;
  top: 130px;
  border-radius: 50%;
  left: 1%;
  rotate: -10deg;
  background-color: #30343a93;
  filter: blur(100px);
  z-index: -2;
}

.navbar {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar .logo img {
  width: 40px;
  display: none;
}

.navbar .logo h1 {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 600;
  background: linear-gradient(180deg, var(--text-color-100), #fafafa3d 170%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--text-color-100);
  gap: 15px;
  height: 40px;
}

.nl-icon {
  /* background-color: #444; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.nl-icon:hover {
  background-color: var(--bg);
}

.nl-icon svg {
  color: var(--text-color-50);
  font-size: 26px;
}

.nl-switch {
  background-color: transparent;
  width: 100px;
  height: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 8px;
  position: relative;
  border: 1px solid var(--border-lines);
  /* gap: 5px; */
}

.nl-switch span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-100);
  cursor: pointer;
  z-index: 10;
  font-weight: 600;
}

.nl-switch::after {
  content: "";
  height: 32px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  margin: auto;
  background: linear-gradient(120deg, var(--main-color), #00000000 110%);
  border-radius: 5px;
  transition: .2s;
}

.nl-switch.cd::after {
  left: 0;
  right: 50%;
}

.nl-switch.fd::after {
  right: 0;
  left: 50%;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  flex-direction: column;
}

.hero form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.hero input::placeholder {
  color: var(--text-color-50);
}

.hero input {
  width: 340px;
  height: 45px;
  padding: 0 20px 0 40px;
  border: none;
  outline: none;
  background-color: var(--bg);
  border-radius: 8px;
  color: var(--text-color-100);
  font-size: 14px;
  border: 1px solid var(--border-lines);
  font-family: 'Poppins', sans-serif;
  transition: .3s;
}

.hero input:focus {
  border-color: var(--main-color);
  box-shadow: 0px 0px 0px 1px var(--main-color);
}

.hero .srch {
  position: relative;
}

.hero .srch svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  margin: auto;
  font-size: 20px;
  color: var(--text-color-50);
}

.hero button {
  height: 50px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  color: var(--text-color-100);
  font-size: 26px;
  cursor: pointer;
  transition: .2s;
  display: none;
}

.hero button:hover {
  color: var(--main-color);
}

.hero p {
  color: var(--text-color-50);
  font-size: 18px;
  padding: 15px 0 0;
  font-size: 18px;
}

.hero h1 {
  color: var(--text-color-100);
  font-size: 18px;
  padding: 10px 10px 0px;
  font-size: 65px;
  font-weight: 500;
}

body.dark .hero h1 {
  background: linear-gradient(180deg, var(--text-color-100), #fafafa3d 170%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}

.hero h5 {
  color: var(--text-color-50);
  font-size: 18px;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 400;
}

.info{
  /* background-color: cadetblue; */
  width: 100%;
  min-height: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.info-left{
  /* background-color: rgba(95, 158, 160, 0.11); */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.il-up{
  width: 100%;
  min-height: 190px;
  /* background-color: rgba(95, 158, 160, 0.11); */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.il-up .ilu-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.il-up .ilu-item img{
  width: 100px;
}

.il-up h1 {
  font-size: 80px;
  font-weight: 600;
  color: var(--text-color-100);
}

.il-up .ilu-item h6{
  font-size: 20px;
  color: var(--text-color-50);
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.il-up .ilu-item h6 svg{
  font-size: 20px;
}

.il-up .ilu-item h6 span{
  font-weight: 600;
  color: var(--text-color-100);
}

.il-down{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: var(--text-color-100);
}

.il-down h6{
  font-size: 20px;
  color: var(--text-color-50);
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.il-down h6 span{
  font-weight: 600;
  color: var(--text-color-100);
}