@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);

  /* dark-colors */
  --body-color: #0F172A;
  --text-color-100: #E2E8F0;
  --text-color-50: #7B899D;
  --bg: #1e293b93;
  --border-lines: #323c4db4;
  --main-color: #356EC5;
}

.navbar {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar .logo img {
  width: 40px;
}

.navbar .logo h1 {
  color: var(--text-color-100);
  font-size: 24px;
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--text-color-100);
  gap: 15px;
  height: 40px;
}

.nl-icon{
  /* background-color: #444; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.nl-icon:hover{
  background-color: var(--bg);
}

.nl-icon svg{
  color: var(--text-color-50);
  font-size: 26px;
} 

.nl-switch{
  background-color: var(--bg);
  width: 100px;
  height: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 8px;
  position: relative;
  /* gap: 5px; */
}

.nl-switch span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-100);
  cursor: pointer;
  z-index: 10;
}

.nl-switch::after{
  content: "";
  height: 32px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  margin: auto;
  background-color: var(--main-color);
  border-radius: 5px;
  transition: .5s;
}

.nl-switch.cd::after{
  left: 0;
  right: 50%;
}

.nl-switch.fd::after{
  right: 0;
  left: 50%;
}

.hero{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero form{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.hero input::placeholder{
  color: var(--text-color-50);
}

.hero input{
  width: 300px;
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: var(--bg);
  border-radius: 8px;
  color: var(--text-color-100);
  font-size: 14px;
}



.hero button{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: var(--bg);
  border-radius: 8px;
  color: var(--text-color-50);
  font-size: 26px;
  cursor: pointer;
}

.hero button:hover{
  background-color: var(--bg);
}